{{ template "header.html" .}}
<head>
    <title>{{ .interfaceName }} - WireGuard Monitor </title>
</head>
<body>
    <h2> {{ .interface.Name }} </h2>
    <table>
        <thead>
            <tr>
                <th>Public Key</th>
                <th>IPAddress</th>
                <th>Listen Port</th>
                <th>Data Info</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ .interface.PublicKey }}</td>
                <td>{{ .interface.Address }}</td>
                <td>{{ .interface.ListenPort }}</td>
                <td> ***** </td>
            </tr>
        </tbody>
    </table>

    <h4>Total Clients: {{ len .interface.Peers }}</h4>

    <div id="peers", class="grid-container">
        {{ range $index, $peer := .interface.Peers }}
        <div class="peer">
            <details>
                <summary>
                    <span id="{{ $peer.PublicKey }}-index" aria-busy="true">
                        Peer: {{ $peer.Name }}
                    </span>
                    <span id="{{ $peer.PublicKey }}-status" class="peerStatus">
                        <span class="statusDot offline"></span>
                    </span><br>
                    <div class="transfer-info">
                        <div class="sent">
                            <span id="{{ $peer.PublicKey }}-sent">{{ $peer.Info.Transfer.Sent }}</span> <span style="color: purple;">&#8682;</span> 
                        </div>
                        <div class="received">
                            <span id="{{ $peer.PublicKey }}-received">{{ $peer.Info.Transfer.Received }}</span> <span style="color: blue;">&#8681;</span> 
                        </div>
                    </div>
                </summary>

                <div class="peer-info-container">
                    <div class="publickey">
                        Public Key: <span id="{{ $peer.PublicKey }}-publickey">{{ $peer.PublicKey }}</span>
                    </div>
                    <div class="latesthandshake">
                        Latest Handshake: <span id="{{ $peer.PublicKey }}-latesthandshake">{{ $peer.Info.LatestHandshake }}</span>
                    </div>
                    <div class="endpoint">
                        Endpoint: <span id="{{ $peer.PublicKey }}-endpoint">{{ $peer.Info.EndPoint }}</span>
                    </div>
                    <div class="allowedips">
                        Allowed IPs: <span id="{{ $peer.PublicKey }}-allowedips">{{ $peer.AllowedIPs }}</span>
                    </div>
                </div>
            </details>
        </div>
        {{ end }}
    </div>
    <input type="checkbox" role="switch" id="toggle-switch" onclick="toggleClass('grid-container', 'new-class', 'peers')">
    <label for="toggle-switch"> Row-Grid </label>

    <button id="showFormBtn" class="btn btn-primary" role="button">Show Form</button>
    <div id="newPeerForm" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closeForm()">&times;</span>
            <form id="formForNewPeer" action="/api/configurations/{{ .interface.Name }}/newPeer" method="post">
                <!-- Your form fields go here -->
                <label for="name">name:</label>
                <input type="text" id="name" name="name">
                
                <label for="allowedIPs">allowedIPs:</label>
                <input type="text" id="allowedIPs" name="allowedIPs" required>
                
                <label for="dns">DNS:</label>
                <input type="text" id="dns" name="dns" value="1.1.1.1">

                <label for="vpnEndpoint">Endpoint:</label>
                <input type="text" id="vpnEndpoint" name="vpnEndpoint" value="my-vpn-server.net" required>

                <label for="addressesToUse">Addresses to Use:</label>
                <input type="text" id="addressesToUse" name="addressesToUse" value="0.0.0.0/0,::/0" required>
                
                <label for="persistentKeepAlive">Persistent Keep Alive:</label>
                <input type="int" id="persistentKeepAlive" name="persistentKeepAlive" value=25 pattern="[0-9]+">

                <input type="submit" value="Submit" onclick="return confirmSubmission()">
            </form>
        </div>
    </div>

</body>

<script>
    /*
    document.addEventListener('DOMContentLoaded', function() {
        var interfaceName = document.getElementById("peerStatusButton").getAttribute("data-interface-name")
        //getPeerMetaStatus(interfaceName)
        setInterval(function(){getPeerMetaStatus("{{ .interface.Name }}");}, 5000);
    });*/
    document.addEventListener('DOMContentLoaded', function() {
        fetchUpdateInterface("{{ .interface.Name }}");
        setInterval(function(){fetchUpdateInterface("{{ .interface.Name }}");}, 5000);
    });
</script>

{{ template "footer.html" .}}