{{ template "header.html" .}}
    <head>
        <title>WireGuard Monitor</title>
        <script src="/static/scripts.js"></script>
    </head>
    <body>
        {{range .interfaces}}
        <div class="interface" id="interface-{{ .Name }}">
            <h1> {{ .Name }} -- {{ .PublicKey }}</h1>
            <h2> Listening On: {{ .ListeningPort }}</h2>
            <table role="grid">
                <thead>
                    <tr>
                        <th>PublicKey</th>
                        <th>Endpoint</th>
                        <th>AllowedIPs</th>
                        <th>LatestHandshake</th>
                        <th>Transfer</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Peers}}
                    <tr>
                        <td id="peer-{{ .PublicKey }}-publickey">{{ .PublicKey }}</td>
                        <td id="peer-{{ .PublicKey }}-endpoint">{{ .EndPoint }}</td>
                        <td id="peer-{{ .PublicKey }}-allowedips">{{ .AllowedIPs }}</td>
                        <td id="peer-{{ .PublicKey }}-latesthandshake">{{ .LatestHandshake }}</td>
                        <td id="peer-{{ .PublicKey }}-transfer">{{ .Transfer }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
        {{ end }}
   </body>
   <script>
    setInterval(getInterfaces, 5000)
   </script>
{{ template "footer.html" .}}
